.wd-title h1{
    margin: 0;
    font-size: 20px;
}

.wd-title {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    border-bottom: 1px solid lightgray;
}

.wd-main {
    padding-left: 16px;
    padding-top: 12px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.wd-profile-pic{
    float: left;
    padding-right: 12px;
}

.wd-content {
    float: left;
    width: 100%;
    padding-right: 16px;
}
.wd-profile-pic img {
    border-radius: 24px;
    height: 48px;
    width: 48px;
}

.wd-inline-text {
    color: lightgray;
}

.wd-para {
    font-size: 15px;
    width: 506px;
    padding-bottom: 12px;
    margin: 0;
}

.wd-content-image {
    border: 1px solid lightgray;
    width: 504px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wd-content-image img {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wd-image-desc {
    font-size: 15px;
    color: lightgray;
    width: 504px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid lightgray;
    padding-top: 12px;
}

.wd-image-title {
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-desc {
    padding: 12px;
}

.wd-link {
    padding-left: 12px;
    padding-bottom: 12px;
}

.wd-link a {
    text-decoration: none;
    color: lightgray;
    padding-left: 5px;
}

.wd-reach {
    display: inline-grid;
    grid-template-columns: auto auto auto auto ;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 504px;
}
.wd-reach a {
    text-decoration: none;
    color: lightgray;
}

.wd-reach i {
    padding: 12px;
}

.wd-heart a {
    color: red;
}